@chat_bg: #FFFFF0;
@avatar_border: #FA8072;
@message_bg: #F5FFFA;
@message_border: #5F9EA0;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.chat{
  background-color: @chat_bg;
  font-size: 0.75em;
  font-family: Tahoma;
  padding: 1.25em;
  li{
    padding: 0 0 2em 0;
    overflow: hidden;
    .avatar{
      display: inline-block;
      float: left;
      img{
        border: 2px solid @avatar_border;
        .rounded-corners;     
      }
    }
    .message_wrap{
      display: block;
      background-color: @message_bg;
      margin: 0 0 0 70px;
      padding: 0.25em;
      border: 2px solid @message_border;
      .rounded-corners;
      .name{
        font-weight: bold;
      }
      .message{
        line-height: 1.25em;
      }
    }
  }
}