/* CSS declarations go here */
body, menu, ul, li, input, h1, p{
  margin: 0;
  padding: 0;
  border: none;
}

ul{
  list-style: none;
}

html, body{
  height: 100%;
  font-family: Arial, Helvetica;
}

body{
  position: relative;
  height: 100%;
  background: url(img/bedge_grunge.png);
  font-size: 16px;
}

header{
  border-top: 1px solid #FF6A6A;
  border-bottom: 2px solid #8B3A3A;
  background-color: #CD5555;
  background-image: -webkit-linear-gradient(top, hsl(0, 80%, 70%), #CD5555);
  background-image:    -moz-linear-gradient(top, hsl(0, 80%, 70%), #CD5555);
  background-image:     -ms-linear-gradient(top, hsl(0, 80%, 70%), #CD5555); 
  background-image:      -o-linear-gradient(top, hsl(0, 80%, 70%), #CD5555);
  background-image:         linear-gradient(to bottom, hsl(0, 80%, 70%), #CD5555);
  position: relative;	
  box-shadow: 0 3px 4px #999;
}

h1{
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-style: italic;
  color: #F5F5F5;
  font-size: 1em;
  padding: 1em 3em 1em 32px;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.menu_toggle{
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  border: 2px solid blue;
  font-size: 2em;
  border: 2px solid #F5F5F5;
  width: 1em;
  height: 0.9375em;
}

.menu_toggle li{
  display: block;
  background-color: #F5F5F5;
  height: 0.1875em;
  margin: 0.09375em 0.09375em 0 0.09375em;
}

h2 {
  margin: 0;
  padding: 0.625em 0 0.625em 0.625em;
  color: #607B8B;
  display: block;
  font-size: 1.25em;	
}

.clr {
  clear: both;
  line-height: 0;
}

// Sign in Page
@import "css/signin.less";
// Chat Page
@import "css/chat.less";
// Button class styles
@import "css/modern.less"
