/* CSS declarations go here */
body, menu, ul, li, input, h1, p{
  margin: 0;
  padding: 0;
  border: none;
}

ul{
  list-style: none;
}

html, body{
  height: 100%;
  font-family: Arial, Helvetica;
}

body{
  position: relative;
  height: 100%;
  background: url(img/bedge_grunge.png);
  font-size: 16px;
}

header{
  border-top: 1px solid #FF6A6A;
  border-bottom: 2px solid #8B3A3A;
  background-color: #CD5555;
  position: relative;	
  box-shadow: 0 3px 4px #999;
}

h1{
  background-image: url(img/logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5em;
  padding: 0.25em 0;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

a.menu_toggle{
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  border: 2px solid blue;
  text-indent: -9999px;
  font-size: 1.5em;
  border: 1px solid #fff;
  width: 1em;
  height: 1em;	
}

a.menu_toggle:hover{
  background-color: #EED2EE;
  border: 1px solid #8B3A3A;	
}

menu{
  background-color: #EED2EE;
  border-bottom: 1px solid #CDB5CD;
}

menu ul{
  display: block;
}

menu ul li{
  display: block;
  border-bottom: 1px solid #CDB5CD;
}

menu ul li a{
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #5D478B;
  padding: 0.5em 0;
}

menu ul li a:active {
  background-color: #CDB5CD;
  color: #5D478B;
}

h2 {
  margin: 0;
  padding: 0.625em 0 0.625em 0.625em;
  color: #607B8B;
  display: block;
  font-size: 1.25em;	
}

// Sign in Page
@import "css/signin.less";
// Chat Page
@import "css/chat.less";
// Button class styles
@import "css/modern.less"
