<template name="chat">
  <nav>
    <ul>
      <li>menu item 1</li>
      <li id="logOut">log out</li>
    </ul>
  </nav>
  <ul class="chat">
    {{#each collection}}
    <li>
      <div class="avatar"><img src="img/avatar.jpg" alt="user name"></div>
      <div class="message_wrap">
          <span class="name">{{ name }}:</span>
          <span class="message">{{ message }}</span>      
      </div>
      <div class="clr">&nbsp;</div>
    </li>
    {{/each}}
  </ul>
  <div class="messageInput">
    <input type="text" id="text">
    <input type="button" id="submit" value="SEND">
  </div>
</template>
